@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;600&family=Space+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Readex Pro', 'Arial';
}

.bg_video video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  min-width: 100vh;
  min-height: 100vh;
  width: auto;
  height: auto;
}

.everything{
    padding: 15px;
    padding-bottom: 20px;
    background-color: rgba(00,00,00,0.2);
    border: 5px solid rgb(275,275,275);
    border-radius: 5px;
    overflow: scroll;
}

.header{
  text-align: center;  
}

::-webkit-scrollbar {
    display: none;
}


body { 
    margin: 60px auto; 
    width: calc(100% - 60px);
    max-width: 1100px;
    color: black;
}

h1 { 
    margin: 0;
    font-size: 3em;
} 

thead {
    font-size: 30px;
}

tbody {
    font-size: 18px;
}

footer { 
    font-size: .8em; 
} 
 
nav ul, footer ul { 
    font-family:'Readex Pro', 'Arial'; 
    padding: 0px; 
    list-style: none; 
    font-weight: bold; 
} 

nav ul li, footer ul li { 
    display: inline; 
    margin-right: 20px; 
} 
a { 
    text-decoration: none; 
    color: #BBB; 
} 
a:hover { 
    text-decoration: underline; 
} 
